@font-face {
    font-family: 'Horizon';
    src: url('./fonts/Horizon-updated/Horizon-updated/NEW_UPDATED_VERSION/horizon.otf') format("opentype")
}

@font-face {
    font-family: 'Horizon-outline';
    src: url('./fonts/Horizon-updated/Horizon-updated/NEW_UPDATED_VERSION/horizon_outlined.otf') format("opentype")
}

:root {
    --pseudo-class-nav: visible;
    --color-home: rgb(190, 17, 168);
    --color-about: rgb(121, 17, 168);
    --color-projects: rgb(70, 14, 178);
    --color-contact: rgb(0, 7, 198);
    --color-to-get: #a011a8;
}

.scaleUp {
    scale: 1 !important;
}

.scaleDown {
    scale: 0.8;

    & p {
        color: gray !important;
        font-weight: 100 !important;
    }

}