* {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: azure;
    min-height: 100vh;
    width: 100dvw;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

.content {
    position: relative;
    overflow: hidden;
}

section {
    scroll-snap-type: y proximity;

}

.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 1px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 15%;
}






.navbar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-60px, -50%);
    display: flex;
    width: fit-content;
    max-width: 50vw;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid white; */
    transition: all 0.5s ease-in-out;
    animation: fromLeft 2s forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 3.5s;
    font-size: 4vw;
    transform-origin: top left;
    /* outline: 1px red solid; */
}


@keyframes fromLeft {
    0% {
        opacity: 0;
    }

    100% {
        transform: translate(-3ch, -50%);
        opacity: 1;
    }
}

.navbar::before {
    content: " ";
    position: absolute;
    width: 250%;
    height: 250%;
    /* background: red; */
    border: 1.5px solid white;
    border-radius: 40%;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-30%, -50%);
    z-index: 100;
    animation: rotate 10s linear infinite;
    animation-delay: 2s;
}

.navbar::after {
    content: " ";
    position: absolute;
    width: 250%;
    height: 250%;
    /* background: red; */
    border: 1.5px solid white;
    border-radius: 40%;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-30%, -50%);
    z-index: 100;
    animation: rotate 12s linear infinite;

}

@keyframes rotate {
    0% {
        transform: translate(-30%, -50%) rotate(0deg);
        border-radius: 30%;
    }

    50% {
        transform: translate(-30%, -50%) rotate(180deg);
        border-radius: 60%;
    }

    100% {
        transform: translate(-30%, -50%) rotate(360deg);
        border-radius: 30%;
    }
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 4vw;
    transition: all ease-in-out 0.3s;
    z-index: 110;

}


#nav2 {

    transform: translateX(1ch);
}

#nav3 {
    transform: translateX(2ch);

}

#nav4 {
    transform: translateX(3ch);

}

.navbar a:hover {
    scale: 1.1;
    color: rgb(168, 17, 168);
}



/* .photo-landing-page {
    position: absolute;
    top: 25px;
    width: 25vw;
    height: 50vh;
    outline: 1px greenyellow solid;
} */

.landing-page-title {
    display: flex;
    flex-direction: column;
    outline: 1px green solid;
    font-size: 4vw;
    width: 70%;
}

.job {
    display: flex;
    flex-wrap: nowrap;
    outline: 1px red solid;

}

.job-description {
    padding-left: 5px;
    width: 16ch;
    transition: all 0.5s ease-in-out;
    animation: appear 5s ease-out infinite;
    animation-delay: 4s;
    color: rgb(168, 17, 168);
    /* outline: 1px red solid; */
    overflow: hidden;
    position: relative;
}

.job-description .job-list {
    position: absolute;
    left: 5px;
    /* outline: 1px rgb(168, 17, 168) solid; */
    animation: goUp 15s ease-out infinite;
    animation-delay: 4s;
}

@keyframes goUp {

    3% {
        opacity: 1;
        transform: translateY(0rem);
    }

    25% {
        opacity: 1;
    }

    34% {
        transform: translateY(0rem);
    }

    35% {
        opacity: 0;
    }

    36% {
        opacity: 1;
        transform: translateY(-5.2vw);
    }

    56% {
        opacity: 1;
    }



    66% {
        transform: translateY(-5.2vw);

    }

    67% {
        opacity: 0;

    }

    69% {
        transform: translateY(-10.4vw);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-10.4vw)
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}