* {
    font-family: 'Horizon';
    word-spacing: 4px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-wrap: balance;
}

body {
    background-color: black;
    color: azure;
    min-height: 100vh;
    width: 100dvw;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

@keyframes fixOnWelcome {
    0% {
        height: 100dvh;
    }

    99% {
        height: 100dvh;
    }

    100% {
        height: auto;
    }
}

.content {
    position: relative;
    overflow: hidden;
    z-index: 10;
    /* animation: fixOnWelcome 4s forwards; */

}

section {
    scroll-snap-type: y proximity;
    min-height: 100dvh;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}

.home {
    position: relative;
    min-height: 100dvh;
}

::-webkit-scrollbar {
    width: 1px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 15%;
}

.div-fade-in {
    opacity: 0;
}

.wrapper-navbar-fixed {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    opacity: 0;
    z-index: -1;
}


.overlay {
    border-image: linear-gradient(rgba(160, 17, 168, 0.7) 0%, rgba(103, 17, 168, 0.7) 70%, rgba(0, 7, 198, 0.7) 100%) fill 1;
    transition: all 1s ease-in-out;
    backdrop-filter: blur(5px) saturate(50%);


}

/* .overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
} */

.none {
    position: unset;
}

.fixed {
    position: fixed;
}


.photo-profil {
    display: flex;
    height: calc(17vw + 17vh);
    max-height: 30vh;
    position: absolute;
    top: 10px;
}

.photo-profil img {
    display: flex;
    width: 100%;
    aspect-ratio: 3/4;
}

.navbar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10px, -50%);
    display: flex;
    width: fit-content;
    max-width: 50vw;
    flex-direction: column;
    align-items: end;
    /* border: 1px solid white; */
    transition: all 0.5s ease-in-out;
    animation: fromLeft 2s;
    transform: translate(-10px, -50%);

    animation-timing-function: ease-in-out;
    animation-delay: 3.5s;
    font-size: 3vw;
    transform-origin: top left;
    /* outline: 1px red solid; */
    z-index: 110;
    visibility: visible;
    opacity: 1;
}


@keyframes fromLeft {
    0% {
        opacity: 0;
    }

    100% {
        transform: translate(-10px, -50%);
        opacity: 1;
    }
}

.navbar::before {
    content: " ";
    position: absolute;
    width: 200%;
    height: 250%;
    /* background: red; */
    border: 1.5px solid white;
    border-radius: 40%;
    top: 50%;
    left: 50%;
    transform-origin: center;
    z-index: 100;
    animation: rotate 10s linear infinite;
    animation-delay: 1s;
    /* visibility: var(--pseudo-class-nav); */
}

.navbar::after {
    content: " ";
    position: absolute;
    width: 200%;
    height: 250%;
    /* background: red; */
    border: 1.5px solid white;
    border-radius: 40%;
    top: 50%;
    left: 50%;
    transform-origin: center;
    z-index: 100;
    animation: rotate 12s linear infinite;

}

@keyframes rotate {
    0% {
        transform: translate(-40%, -50%) rotate(0deg);
        border-radius: 40%;
    }

    50% {
        transform: translate(-40%, -50%) rotate(180deg);
        border-radius: 60%;
    }

    100% {
        transform: translate(-40%, -50%) rotate(360deg);
        border-radius: 40%;
    }
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: all ease-in-out 0.4s, color 0s;
    z-index: 110;
    font-family: 'Horizon-outline';
    font-weight: bold;
}


#nav2 {
    transform: translateX(-1vw);
}

#nav3 {
    transform: translateX(-2vw);

}

#nav4 {
    transform: translateX(-3vw);

}

@media (pointer:fine) {

    #nav1:hover,
    #nav11:hover {
        font-family: 'Horizon';
        scale: 1.1;
        color: var(--color-home);
    }

    #nav2:hover,
    #nav12:hover {
        font-family: 'Horizon';
        scale: 1.1;
        color: var(--color-about);
    }

    #nav3:hover,
    #nav13:hover {
        font-family: 'Horizon';
        scale: 1.1;
        color: var(--color-projects);
    }

    #nav4:hover,
    #nav14:hover {
        font-family: 'Horizon';
        scale: 1.1;
        color: var(--color-contact);
    }

}

#menu {
    display: none;
}

#menuInside {
    opacity: 0;
    z-index: 1110;
}

.toggle {
    margin: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: var(--color-to-get);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

#menu:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#menu:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#menu:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#menu:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#menu:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}



.landing-page-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 3.6vw;
    flex-wrap: nowrap;
    align-items: start;
    font-size: 2vw;
    animation: appear 5s ease-in-out forwards;
    animation-delay: 3.5s;
    flex-wrap: nowrap;
}

.job {
    font-family: 'Horizon-outline';
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    flex-shrink: 0;
}

.job-description {
    padding-left: 5px;
    width: 25ch;
    transition: all 0.5s ease-in-out;
    animation: appear 5s ease-out infinite;
    animation-delay: 4s;
    color: var(--color-to-get);
    /* outline: 1px red solid; */
    overflow: hidden;
    position: relative;
}

.job-description .job-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    left: 5px;
    flex-wrap: nowrap;
    animation: goUp 15s ease-out infinite;
    animation-delay: 4s;
}

.job-list p {
    height: 100px;
}

@keyframes goUp {

    3% {
        opacity: 1;
        transform: translateY(0rem);
    }

    25% {
        opacity: 1;
    }

    33% {
        transform: translateY(0rem);
    }

    33% {
        opacity: 0;
    }

    34% {
        opacity: 1;
        transform: translateY(-100px);
    }

    56% {
        opacity: 1;
    }



    64% {
        transform: translateY(-100px);
        opacity: 0;
    }

    68% {
        opacity: 0;

    }

    69% {
        opacity: 1;

        transform: translateY(-200px);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-200px)
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.parent {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3em;
}

.child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 0 5px;
}

.child:hover {
    /* background-color: white; */
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(4px);
    box-shadow: 0px 10px 10px var(--color-to-get);
}

.child *:hover {
    cursor: pointer;

}

.child-2 {
    fill: white;
}

button {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.button:hover {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-37deg) translateY(2px);
    border-radius: 50%;
}


.more-about-me {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    bottom: 0;
    left: 50%;
    font-size: calc(1vw + 1vh);
    transform: translateX(-50%);
    flex-wrap: nowrap;
    width: max-content;
}

.arrow-more-about {
    display: flex;
    justify-content: center;
    fill: var(--color-to-get);
    animation: bougeY 2s ease-in-out infinite;
    padding-bottom: 1em;
}

.arrow {
    width: calc(10vw + 10vh);
}

@media screen and (max-width: 800px) {

    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    .wrapper-navbar {
        z-index: 1000;
        background-color: black;
        position: unset;
    }

    .navbar {
        position: absolute;
        left: 50%;
        top: 60%;
        gap: 1vh;
        transform: translate(-50%, -50%);
        display: flex;
        width: max-content;
        min-height: 20vh;
        flex-direction: column;
        align-items: start;

        transition: all 0.5s ease-in-out;
        animation: appear 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 3.5s;

        font-size: calc(3vw + 2vh);
        transform-origin: top left;
        z-index: 110;
        visibility: visible;
        opacity: 1;
    }

    #nav2 {
        transform: translateX(0);
        width: max-content;

    }

    #nav3 {
        transform: translateX(0);
        width: max-content;


    }

    #nav4 {
        transform: translateX(0);
        width: max-content;


    }

    .navbar::before {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .navbar::after {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .parent {
        animation: fadeOut 1s ease-out forwards;

    }

    .landing-page-title {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        flex-wrap: nowrap;
        align-items: start;
        font-size: 3vw;
        animation: appear 5s ease-in-out forwards;
        animation-delay: 3.5s;
        flex-wrap: nowrap;
    }
}