* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: azure;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.welcomePage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: black;
    animation: fadeOut 1s ease-out forwards;
    animation-delay: 4s;
    z-index: 100;
}



.page {
    padding-top: 75px;
}

.welcomePage h1 {
    position: relative;
    font-size: 6vw;
    word-spacing: 0em;
}

.welcomePage h1::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    opacity: 0;
    background: linear-gradient(to right, #346abf 0%, #7096d2 100%);
    animation: souligne 1.2s ease-out forwards;
    animation-delay: 2s;

}

.welcomePage h1 .firstWord span {
    position: relative;
    animation: fadeInOut 1s ease-out;
    animation-delay: 1s;
    opacity: 0;
    color: azure;
}

.welcomePage h1 .secondWord {
    position: absolute;
    top: 0;
    left: 0;
}

.welcomePage h1 .secondWord span {
    position: relative;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 2s;
    opacity: 0;
    color: azure;
}



.welcomePage .firstWord .letter1 {
    animation-delay: 0.1s;
}

.welcomePage .firstWord .letter2 {
    animation-delay: 0.2s;
}

.welcomePage .firstWord .letter3 {
    animation-delay: 0.3s;
}

.welcomePage .firstWord .letter4 {
    animation-delay: 0.4s;
}

.welcomePage .firstWord .letter5 {
    animation-delay: 0.5s;
}

.welcomePage .firstWord .letter6 {
    animation-delay: 0.6s;
}

.welcomePage .firstWord .letter7 {
    animation-delay: 0.7s;
}

.welcomePage .secondWord .letter11 {
    animation-delay: 2.1s;
}

.welcomePage .secondWord .letter22 {
    animation-delay: 2.2s;
}

.welcomePage .secondWord .letter33 {
    animation-delay: 2.3s;
}

.welcomePage .secondWord .letter44 {
    animation-delay: 2.4s;
}

.welcomePage .secondWord .letter55 {
    animation-delay: 2.5s;
}

.welcomePage .secondWord .letter66 {
    animation-delay: 2.6s;
}

.welcomePage .secondWord .letter77 {
    animation-delay: 2.7s;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-height: 75px;
    height: 15vh;
    border-bottom: 0.5px rgb(86, 74, 5) solid;
    z-index: 100;
    background-color: #111;
    font-size: 1.8vh;
}

nav:hover {
    background-color: rgb(3, 0, 36, 0.7);
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-in-out;
}

nav:not(:hover) {
    background-color: rgba(1, 1, 1, 0.5);
    transition: all 0.5s ease-in-out;
}


nav ul {
    display: flex;
    list-style: none;
    flex-direction: raw;
    gap: 1.5em;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

nav ul li:hover {
    scale: 1.15;
    transition: all 0.2s ease-in-out;
}

nav ul li:not(:hover) {
    scale: 1;
    transition: all 0.2s ease-in-out;
}

nav ul li:nth-child(1) {
    opacity: 0;
    animation: fadeInFromLeft 1s ease-out forwards;
    animation-delay: 4.5s;
}

nav ul li:nth-child(2) {
    opacity: 0;
    animation: fadeInFromLeftTop 1s ease-out forwards;
    animation-delay: 4.6s;
}

nav ul li:nth-child(3) {
    opacity: 0;
    animation: fadeInFromTop 1s ease-out forwards;
    animation-delay: 4.7s;
}

nav ul li:nth-child(4) {
    opacity: 0;
    animation: fadeInFromRightTop 1s ease-out forwards;
    animation-delay: 4.8s;
}

nav .logoNavbar {
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadeInFromTop 1s ease-out forwards;
    animation-delay: 5.1s;
    max-width: 12vw;
    max-height: 65px;
}

nav .logoNavbar img {
    width: 100%;
    height: 100%;
}

.page h1 {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    max-width: 500px;
}

section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;

}

.home {
    background: url(images/photo-1477346611705-65d1883cee1e.avif) no-repeat;
    background-size: cover;
    filter: grayscale(0.2);
    justify-content: left;
}


.home .homeTitle {
    position: absolute;
    top: 25%;
    left: 10%;
    margin: 0;
    padding: 0;
    animation: scaleGrow 1s 4.2s ease-out forwards;
    opacity: 0;
}

.home .homeTitle::before {
    content: "";
    height: 90%;
    width: 1px;
    top: 10%;
    background-color: azure;
    position: absolute;
    opacity: 0;
    animation: scaleGrow 1s 4.2s ease-out forwards;
}

.home .homeTitle .name {
    font-family: 'Philosopher', 'sans-serif';
    font-size: 5vw;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 0;
    margin: 0 0 0 1vw;
    justify-content: left;
}

.home .homeTitle .job {
    font-family: 'Philosopher', 'sans-serif';
    font-style: italic;
    font-weight: 200;
    font-size: 2vw;
    color: white;
    text-shadow: 0 0 10px black;
    margin: 0 0 0 1.5vw;
    justify-content: left;
}

.about {
    display: flex;
    padding-left: 15px;
    padding-top: 25px;
}


.about .gridAboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
}

.studies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px white solid;
    border-bottom: 2px white solid;

    cursor: pointer;
    width: 45vw;
    height: 300px;
    font-family: sans-serif;
    font-size: 2vw;
    z-index: 50;
    overflow: hidden;
}


.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px white solid;
    border-bottom: 2px white solid;

    cursor: pointer;
    width: 45vw;
    height: 300px;
    font-family: sans-serif;
    font-size: 2.5vw;
    overflow: hidden;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px white solid;
    border-bottom: 2px white solid;

    cursor: pointer;
    width: 45vw;
    height: 300px;
    font-family: sans-serif;
    font-size: 2.5vw;


    overflow: hidden;
}

.gridAboutMe .aboutSection {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.gridAboutMe .aboutSection h1 {
    font-size: 2vw;
}

.gridAboutMe .aboutContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    opacity: 0;
    width: inherit;
    height: inherit;
    flex-direction: row;
    z-index: -1;
}

.studies::after {
    content: '';
    position: relative;
    height: 80vh;
    width: 90vw;
    background-image: url("images/book-open-pages-literature-thumbnail.jpg");
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.5;
    z-index: -1;
    transition: all 1s;
}



.hobbies::after {
    content: '';
    height: 80vh;
    width: 90vw;
    background: url("images/portfolio-banniere.png");
    background-size: cover;
    background-position: 50% 30%;
    opacity: 0.3;
    z-index: -1;
    transition: all 1s;
}


.location::after {
    content: '';
    height: 80vh;
    width: 90vw;
    background: url("images/desktop-wallpaper-black-world-map-displaying-17-gallery-for-black-world-for-your-mobile-tablet-explore-dark-cool-background-map-black-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
    transition: all 1s;
}



.studies:hover::after {
    opacity: 1;
    z-index: -1;
}

.studies.scaleUp::after {
    opacity: 0.6;
    z-index: -1;
}

.hobbies:hover::after {
    opacity: 0.7;
}

.location:hover::after {
    opacity: 1;
}

.revealContent {
    animation: aboutRevealContent 1s ease-in-out forwards;
}

.scaleUp {
    animation: scaleUp 1s ease-in-out forwards;
}

.unRevealContent {
    animation: aboutUnRevealContent 1s ease-in-out forwards;
}

.scaleDown {
    animation: scaleDown 1s ease-in-out forwards;
}

.studies .studiesSection {
    display: flex;
    position: relative;
    list-style: none;
    flex-direction: column;
    padding-top: 15px;
    width: fit-content;
    height: 100%;
    font-size: 1em;
    z-index: 90;
    padding: 1em;

}

.studies .studiesSection h3 {
    font-size: 1.8vh;
}


.studies .studiesSection li {
    margin-bottom: 1em;
}


.studies .studiesSection li:hover {
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.studies .studiesSection li:not(:hover) {
    scale: 1;
    transition: all 0.2s ease-in-out;
}

.aboutMeActive {
    animation: aboutMeActive 0.5s ease-in-out forwards;
}

.aboutMeUnactive {

    animation: aboutMeUnactive 0.5s ease-in-out forwards;
}

.aboutMeVisible {
    animation: studiesContentReveal 0.5s ease-in-out forwards;
}

.aboutMeUnvisible {
    animation: studiesContentUnreveal 0.5s ease-in-out forwards;
}

.studies .studiesContent li {
    position: absolute;
    padding: 1em;
    font-size: 1.5vh;
    list-style: none;
}


.aboutSection h1 {
    margin: 0;
}


.btnOpen {
    position: relative;
    filter: invert(1);
    width: 5vw;
    z-index: 100;
}

.btnOpen img {
    width: 100%;
}

.btnOpen:hover {
    animation: bouge 1s infinite;
}


.btnClose {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    filter: invert(1);
    width: 2vw;
    z-index: 100;
}

.btnClose img {
    width: 100%;
}

.btnClose:hover {
    animation: grow 1s infinite;
}