.welcomePage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: black;
    animation: fadeOut 1s ease-out forwards;
    animation-delay: 4s;
    z-index: 1040;
    overflow: hidden;
}

.welcomePage * {
    font-family: 'Horizon-outline' !important;
    word-spacing: 0px !important;

}

.welcomePage h1 {

    position: relative;
    font-size: 6vw;
    word-spacing: 0em;
}

.welcomePage h1::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    opacity: 0;
    background: linear-gradient(to right, rgb(160, 17, 168) 0%, rgb(103, 17, 168) 50%, #0007c6 100%);
    animation: souligne 1.2s ease-out forwards;
    animation-delay: 2s;

}

.welcomePage h1 .firstWord span {
    position: relative;
    animation: fadeInOut 1s ease-out;
    animation-delay: 1s;
    opacity: 0;
    color: azure;
}

.welcomePage h1 .secondWord {
    position: absolute;
    top: 0;
    left: 0;
}

.welcomePage h1 .secondWord span {
    position: relative;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 2s;
    opacity: 0;
    color: azure;
}



.welcomePage .firstWord .letter1 {
    animation-delay: 0.1s;
}

.welcomePage .firstWord .letter2 {
    animation-delay: 0.2s;
}

.welcomePage .firstWord .letter3 {
    animation-delay: 0.3s;
}

.welcomePage .firstWord .letter4 {
    animation-delay: 0.4s;
}

.welcomePage .firstWord .letter5 {
    animation-delay: 0.5s;
}

.welcomePage .firstWord .letter6 {
    animation-delay: 0.6s;
}

.welcomePage .firstWord .letter7 {
    animation-delay: 0.7s;
}

.welcomePage .secondWord .letter11 {
    animation-delay: 2.1s;
}

.welcomePage .secondWord .letter22 {
    animation-delay: 2.2s;
}

.welcomePage .secondWord .letter33 {
    animation-delay: 2.3s;
}

.welcomePage .secondWord .letter44 {
    animation-delay: 2.4s;
}

.welcomePage .secondWord .letter55 {
    animation-delay: 2.5s;
}

.welcomePage .secondWord .letter66 {
    animation-delay: 2.6s;
}

.welcomePage .secondWord .letter77 {
    animation-delay: 2.7s;
}